---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/sadi.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m a Shafayetul Huda Sadi. I'm an undergrad student in Electrical and Computer Engineering in
			RUET. I am a passionate programmer and learner. I love to learn new technologies and solve
			problems.
		</p>
		<div class="flex justify-center">
			<Image
				class="rounded-full w-auto h-56"
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<p>Here are my some of my projects:</p>
		<ul class="list-inside list-disc">
			<li>Todo site using Django + HTMX</li>
			<li>Blogging site using Flask</li>
			<li>Portfolio using HTML, CSS</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/shafayetsadi/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repos</a
			> if you like me!
		</p>
	</div>
</PageLayout>
